In [1]:
import pandas as pd
import numpy as np

import SimulationEngine
import PLScraper
import manipulate

from pandasql import sqldf
import datetime

In [2]:
lastseason_fpath="data/2022-23 PL/2023_matchday_results.csv"
lastseason=pd.read_csv(lastseason_fpath)

In [3]:
lastseason.head()

,Unnamed: 0,fixture.id,fixture.date,teams.home.id,teams.home.name,teams.home.winner,teams.away.id,teams.away.name,teams.away.winner,goals.home,goals.away
0,0,867946,2022-08-05T19:00:00+00:00,52,Crystal Palace,False,42,Arsenal,True,0,2
1,1,867947,2022-08-06T11:30:00+00:00,36,Fulham,NaN,40,Liverpool,NaN,2,2
2,2,867948,2022-08-06T14:00:00+00:00,35,Bournemouth,True,66,Aston Villa,False,2,0
3,3,867949,2022-08-06T14:00:00+00:00,63,Leeds,True,39,Wolves,False,2,1
4,4,867950,2022-08-07T13:00:00+00:00,46,Leicester,NaN,55,Brentford,NaN,2,2

In [4]:
oldcols=['fixture.date','teams.home.name','goals.home','teams.away.name','goals.away']
newcols=['Datetime','HomeTeam','HomeGoals','AwayTeam','AwayGoals']
lastseason=manipulate.rename_cols(lastseason,oldcols,newcols)
lastseason=lastseason[newcols]
lastseason['Status']='FT'

In [5]:
lastseason.head()

,Datetime,HomeTeam,HomeGoals,AwayTeam,AwayGoals,Status
0,2022-08-05T19:00:00+00:00,Crystal Palace,0,Arsenal,2,FT
1,2022-08-06T11:30:00+00:00,Fulham,2,Liverpool,2,FT
2,2022-08-06T14:00:00+00:00,Bournemouth,2,Aston Villa,0,FT
3,2022-08-06T14:00:00+00:00,Leeds,2,Wolves,1,FT
4,2022-08-07T13:00:00+00:00,Leicester,2,Brentford,2,FT

In [6]:
thisseason=PLScraper.scrape_pl_results()

In [7]:
thisseason.head()

,Datetime,HomeTeam,HomeGoals,AwayTeam,AwayGoals,Status
0,2023-08-27 14:00:00,Burnley,1,Aston Villa,3,FT
1,2023-08-27 14:00:00,Sheffield United,1,Manchester City,2,FT
2,2023-08-27 16:30:00,Newcastle United,1,Liverpool,2,FT
3,2023-08-26 12:30:00,Bournemouth,0,Tottenham Hotspur,2,FT
4,2023-08-26 15:00:00,Arsenal,2,Fulham,2,FT

In [8]:
from pandasql import sqldf

In [9]:
query='''
    WITH FINAL AS
    (
     SELECT Datetime, HomeTeam, HomeGoals, AwayTeam, AwayGoals, Status
    FROM lastseason
    
    UNION ALL
    
    SELECT Datetime, HomeTeam, HomeGoals, AwayTeam, AwayGoals, Status
    FROM thisseason
    WHERE
    Datetime > (SELECT MAX(Datetime) FROM lastseason)
    AND Status='FT'
    )
    SELECT *
    FROM FINAL
    ORDER BY Datetime DESC;
    '''

In [10]:
results_df=sqldf(query)

In [11]:
results_df

,Datetime,HomeTeam,HomeGoals,AwayTeam,AwayGoals,Status
0,2023-08-27 16:30:00.000000,Newcastle United,1,Liverpool,2,FT
1,2023-08-27 14:00:00.000000,Burnley,1,Aston Villa,3,FT
2,2023-08-27 14:00:00.000000,Sheffield United,1,Manchester City,2,FT
3,2023-08-26 17:30:00.000000,Brighton and Hove Albion,1,West Ham United,3,FT
4,2023-08-26 15:00:00.000000,Arsenal,2,Fulham,2,FT
...,...,...,...,...,...,...
404,2022-08-06T14:00:00+00:00,Leeds,2,Wolves,1,FT
405,2022-08-06T14:00:00+00:00,Newcastle,2,Nottingham Forest,0,FT
406,2022-08-06T14:00:00+00:00,Tottenham,4,Southampton,1,FT
407,2022-08-06T11:30:00+00:00,Fulham,2,Liverpool,2,FT
408,2022-08-05T19:00:00+00:00,Crystal Palace,0,Arsenal,2,FT

In [12]:
all_teams=pd.unique(results_df.HomeTeam)
print(len(all_teams))
print(sorted(all_teams))

27
['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton', 'Brighton and Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle', 'Newcastle United', 'Nottingham Forest', 'Sheffield United', 'Southampton', 'Tottenham', 'Tottenham Hotspur', 'West Ham', 'West Ham United', 'Wolverhampton Wanderers', 'Wolves']

In [13]:
print(sorted(pd.unique(lastseason.HomeTeam)))

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle', 'Nottingham Forest', 'Southampton', 'Tottenham', 'West Ham', 'Wolves']

In [26]:
prevnames=['Brighton','Newcastle','Tottenham','West Ham']
newnames=['Brighton and Hove Albion', 'Newcastle United', 'Tottenham Hotspur', 'West Ham United']

results_df=manipulate.df_rename_vals(results_df,['HomeTeam','AwayTeam'],prevnames,newnames)
results_df=manipulate.df_strings_to_numbers(results_df,['HomeGoals','AwayGoals'])

In [27]:
all_teams=pd.unique(results_df.HomeTeam)
print(len(all_teams))
print(sorted(all_teams))

23
['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton and Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle United', 'Nottingham Forest', 'Sheffield United', 'Southampton', 'Tottenham Hotspur', 'West Ham United', 'Wolverhampton Wanderers', 'Wolves']

In [28]:
fixture_df=PLScraper.scrape_pl_fixtures()

In [29]:
sim_until_date=datetime.datetime.now()+datetime.timedelta(days=7)
fixture_df=fixture_df[fixture_df.Datetime<sim_until_date]

In [30]:
fixture_df

,Datetime,HomeTeam,HomeGoals,AwayTeam,AwayGoals
0,2023-09-01 20:00:00,Luton Town,0,West Ham United,0
1,2023-09-02 12:30:00,Sheffield United,0,Everton,0
2,2023-09-02 15:00:00,Brentford,0,Bournemouth,0
3,2023-09-02 15:00:00,Burnley,0,Tottenham Hotspur,0
4,2023-09-02 15:00:00,Chelsea,0,Nottingham Forest,0
5,2023-09-02 15:00:00,Manchester City,0,Fulham,0
6,2023-09-02 17:30:00,Brighton and Hove Albion,0,Newcastle United,0
7,2023-09-03 14:00:00,Crystal Palace,0,Wolverhampton Wanderers,0
8,2023-09-03 14:00:00,Liverpool,0,Aston Villa,0
9,2023-09-03 16:30:00,Arsenal,0,Manchester United,0

In [31]:
SimulationEngine.predict_multiple_results(fixture_df,results_df)

,Datetime,HomeTeam,AwayTeam,ProbHomeWin,ProbAwayWin,ProbDraw,FullSimulatedResults
0,2023-09-01 20:00:00,Luton Town,West Ham United,0.136,0.741,0.123,None
1,2023-09-02 12:30:00,Sheffield United,Everton,0.354,0.425,0.221,None
2,2023-09-02 15:00:00,Brentford,Bournemouth,0.700,0.152,0.148,None
3,2023-09-02 15:00:00,Burnley,Tottenham Hotspur,0.178,0.699,0.123,None
4,2023-09-02 15:00:00,Chelsea,Nottingham Forest,0.348,0.492,0.160,None
5,2023-09-02 15:00:00,Manchester City,Fulham,0.612,0.222,0.166,None
6,2023-09-02 17:30:00,Brighton and Hove Albion,Newcastle United,0.358,0.443,0.199,None
7,2023-09-03 14:00:00,Crystal Palace,Wolverhampton Wanderers,0.555,0.241,0.204,None
8,2023-09-03 14:00:00,Liverpool,Aston Villa,0.519,0.283,0.198,None
9,2023-09-03 16:30:00,Arsenal,Manchester United,0.395,0.401,0.204,None